* {
  box-sizing: border-box;
}

.timer {
  display: flex;
  margin: 0 auto;
  max-width: 450px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.value {
  font-size: 60px;
  letter-spacing: 5px;
  background-color: rgb(241, 241, 241);
  color: #33364d;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 4px 6px 4px #0f0e0e;
}

.label {
  font-size: 20px;
  color: #a59696;
  font-style: italic;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
}
